/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.App {
  text-align: center;
  background-image: url('./Images/lion.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin-top: -21px;
  color: #b3995d;
}

.App a {
  text-decoration: none;
  color: black;
}
/* .app-app {
  border: 1px solid red;
} */

.follower-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.follower-container img{
  width: 350px;
  border-radius: 10px;
} 

.cards {
  border:5px solid #aa0000;
  background: #aa0000;
  margin: 20px;
  border-radius: 10px;
}

.profile-container{
  border:5px solid #aa0000;
  background: #aa0000;
  border-radius: 10px;
  width: 375px;
  margin: 0 auto;
} 

.profile-container img{
  width: 375px;
  border-radius: 10px;
}